<h1>HEXGOL</h1>
<p>Hex-based <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life">Game of Life</a></p>

<%= button_to "next bicycle", root_path %>

<% @board.cells.each do |cell| %>
  <li><%= cell.to_xy(25,[50,50]).map{|n| n.floor} %></li>
  <li><%= cell.to_xy(15,[100,100]).map{|n| n.floor} %></li>
  <li><%= cell.to_xy(10,[150,150]).map{|n| n.floor} %></li>
<% end %>

<br>
Round: <%= session[:step] %>
<br>
<br>
Living: <%= session[:coordinates] %>
<br>
to_xy: <%= @board.cells.map(&:to_xy) %>
<br>

<script>
  var paper = Raphael(100,100,520,500);
  drawCircle(paper, 50,50,2)
  drawCircle(paper, 100,100,2)
  drawCircle(paper, 150,150,2)
  $( document ).ready(function() {
    $( "li" ).each(function() {
      a = $(this).text();
      b = /\[([-\d]+), ([-\d]+)\]/;
      c = b.exec(a);
      console.log(c[0],c[1],c[2]);
      drawCircle(paper, c[1], c[2], 5)
    });
  });
</script>

<iframe width="560" height="315" src="//www.youtube.com/embed/xP5-iIeKXE8" frameborder="0" allowfullscreen></iframe>



