<!--
<h1>HEXGOL</h1>
<p>Hex-based <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life">Game of Life</a></p>
-->

<%= button_to "next bicycle", root_path %>
<br>
<%= button_to "restart", shell_restart_path %>
<br>
<%= button_to "add", shell_add_cell_path %>
<br>
<%= button_to "refresh", shell_refresh_path %>
<br>

<% @board.cells.each do |cell| %>
  <li><%= cell.to_xy(10,[150,150]).map{|n| n.floor} %></li>
<% end %>

<br>
Round: <%= session[:step] %>
<br>
<br>
Living: <%= session[:coordinates] %>
<br>
to_xy: <%= @board.cells.map(&:to_xy) %>
<br>

<script>
  var paper = Raphael(100,100,520,500);
  drawCircle(paper, 150,150,2)

  function convertToCoordinates(x,y){
    console.log("covertToCoordinates for: " + x + "," + y);
    // subtract origin
    xx = x - 150;
    yy = y - 150;

    // divide by multiplier
    xxx = xx / 10;
    yyy = yy / 10;

    // calculate hypotenuse
    d = Math.sqrt( ((xxx * xxx) + (yyy * yyy)) );

    // calculate theta
    theta = Math.asin(yyy / d);

    // calculate phi
    phi = (Math.PI/3) - theta;

    // calculate hex x and hex y
    hexx = (Math.sin(phi) / Math.sin(2 * Math.PI / 3)) * d;
    hexy = (Math.sin(theta) / Math.sin(2 * Math.PI / 3)) * d;

    // round
    roundx = Math.round(hexx);
    roundy = Math.round(hexy);


    return [0,roundx,60,roundy];
  };

  $( document ).ready(function() {
    $("svg").bind( "mousedown", function(e){ 
      xy = canvasClick(e);
      x = xy[0];
      y = xy[1];
      console.log("clicked:");
      console.log("  x: " + x);
      console.log("  y: " + y);


      var coordinates = convertToCoordinates(x,y);
      console.log("coordinates are: " + coordinates);
      var url = '/shell/add_cell';

      $.ajax({
        type: "POST",
        url: url,
        data: { coordinates : coordinates }
      });

      $("input[type=submit]")[3].click()
    });
  });

  $( document ).ready(function() {
    $( "li" ).each(function() {
      a = $(this).text();
      b = /\[([-\d]+), ([-\d]+)\]/;
      c = b.exec(a);
      console.log(c[1],c[2]);
      //drawCircle(paper, c[1], c[2], 5)
      drawHexagon(paper, c[1], c[2], 5);
    });
  });
</script>

<!-- <iframe width="560" height="315" src="//www.youtube.com/embed/xP5-iIeKXE8" frameborder="0" allowfullscreen></iframe>
-->



